.second-ui {
    margin-left: 1000px;
}
.header {
    padding: 10px;
}

.background{
    background-color: lightgray;
    padding: auto;
}

// .Row {
//     display: table;
//     // width: 100%; 
//     // table-layout: fixed; 
//     // border-spacing: 10px; 
// }
// .Column {
//     display: table-cell;
//     // background-color: red; 
// }



