ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  justify-content: center;

  li {
      margin: 2rem;
      font-size: 3rem;
      text-decoration: underline;
      cursor: pointer;
  }
}

h2 {
    text-align: center;
}

.container {
    text-align: center;
}

.sidebar-toggle {
    padding-right: 1.25rem;
    text-decoration: none;
    color: var(--text-hint-color);
    font-size: 3.5rem;
  }
  .icon-header{
    // padding-right: 1.25rem;
    font-size: 2rem;
    padding: 5px;
  }

  nb-card {
    min-width: 10rem;
    max-width: 30rem;
    margin: 0 auto 2rem;
  }