<nb-layout>
    <nb-layout-header class="header"> 
        <nb-layout-column class="colored-column-warning">
            <div class="container-fluid">
                <div class="row rowClass">
                    
                    <div class="col-sm-12 col-md-6">
                        <svg width="89" height="60" viewBox="0 0 89 60" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M59.3078 0C70.032 0 76.9387 1.97464 81.7007 6.44928C85.2229 9.60145 86.9939 13.8225 87.0136 19.0036C87.0136 25.5072 84.6129 31.0145 79.91 35.3442C74.1839 40.6159 65.2307 43.5145 54.6836 43.5145H45.4549L40.6339 60H20.3071L25.679 41.5942L28.4339 42.2826L24.0261 57.337H38.43L43.2313 40.8696H54.6639C64.4436 40.8696 72.6884 38.2246 77.8636 33.4601C82.0155 29.6377 84.121 24.7645 84.121 18.9855C84.121 14.5471 82.6255 10.942 79.6542 8.2971C75.4629 4.36594 69.1858 2.6087 59.2881 2.6087H40.0436L31.602 28.4964H46.7929L51.1613 13.3333H58.6781C62.4365 13.3333 65.27 14.1848 67.0804 15.8514C68.4971 17.1558 69.2842 18.9493 69.2842 20.8877C69.2842 23.442 68.3397 25.6522 66.49 27.4457L66.4507 27.4819C63.7549 29.8732 59.6226 31.1413 54.5065 31.1413H0V28.5145L28.6307 28.5326L37.9381 0H59.3078ZM58.678 15.4901H52.9715L49.0754 28.9683H54.4867C58.9928 28.9683 62.5544 27.9176 64.7976 25.943C66.2341 24.5481 66.9425 22.8814 66.9425 20.8886C66.9425 19.5118 66.4112 18.2799 65.4273 17.3741C64.0696 16.1241 61.787 15.4901 58.678 15.4901Z"
                            fill="url(#paint0_linear_0_1)" />
                        <path
                            d="M48.5693 59.3166H53.5703C56.1994 59.3166 57.8283 58.0475 58.1426 56.3361C58.4227 54.7457 57.3596 53.7662 56.0336 53.7188L56.0565 53.6135C57.3025 53.3608 58.3541 52.5603 58.5884 51.2965C58.8856 49.6798 57.7825 48.5318 55.1992 48.5318H50.5126L48.5693 59.3166ZM51.387 57.4525L51.8957 54.5877H53.9647C55.1706 54.5877 55.7822 55.2197 55.6278 56.1096C55.485 56.9206 54.7763 57.4525 53.4046 57.4525H51.387ZM52.1815 53.0448L52.6616 50.3749H54.5362C55.6278 50.3749 56.1594 50.891 56.0222 51.6756C55.8793 52.5235 55.022 53.0448 54.0161 53.0448H52.1815Z"
                            fill="#DC212C" />
                        <path
                            d="M59.21 59.3166H67.1201L67.463 57.4367H62.0277L62.4849 54.8616H67.4916L67.8345 52.9816H62.8278L63.285 50.4118H68.6975L69.0404 48.5318H61.1532L59.21 59.3166Z"
                            fill="#DC212C" />
                        <path
                            d="M70.2192 50.4118H73.8028L72.2025 59.3166H74.6487L76.249 50.4118H79.8325L80.1754 48.5318H70.5622L70.2192 50.4118Z"
                            fill="#DC212C" />
                        <path
                            d="M80.3869 59.3166L81.7015 56.8574H85.9251L86.3481 59.3166H89L86.9082 48.5318H83.719L77.735 59.3166H80.3869ZM82.6502 55.0775L84.8335 50.9963H84.9249L85.6222 55.0775H82.6502Z"
                            fill="#DC212C" />
                        <defs>
                            <linearGradient id="paint0_linear_0_1" x1="15.2215" y1="64.5393" x2="97.1372" y2="39.0161"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#003E7E" />
                                <stop offset="0.0556747" stop-color="#105D9B" />
                                <stop offset="0.1601" stop-color="#2B93CD" />
                                <stop offset="0.2109" stop-color="#35A8E0" />
                                <stop offset="0.4761" stop-color="#197ABC" />
                                <stop offset="0.5433" stop-color="#4D5EAE" />
                                <stop offset="0.6475" stop-color="#99369B" />
                                <stop offset="0.7339" stop-color="#D0198C" />
                                <stop offset="0.7979" stop-color="#F20783" />
                                <stop offset="0.8326" stop-color="#FF0080" />
                                <stop offset="0.8605" stop-color="#FF047D" />
                                <stop offset="0.8868" stop-color="#FF0F74" />
                                <stop offset="0.9125" stop-color="#FF2265" />
                                <stop offset="0.9379" stop-color="#FF3D50" />
                                <stop offset="0.9629" stop-color="#FF6034" />
                                <stop offset="0.9874" stop-color="#FF8913" />
                                <stop offset="0.9996" stop-color="#FFA100" />
                            </linearGradient>
                        </defs>
                    </svg>
                        </div>

                    <div class="col-sm-12 col-md-5">
                        <button nbButton outline class="loginBtn">Logg inn med idrettens ID</button>
                    </div>
                    <div class="col-sm-12 col-md-1">
                        <button nbButton outline class="loginIdBtn">Opprett idrettens
                            ID</button>
                    </div> 
                </div>
            </div>
        </nb-layout-column>




    </nb-layout-header>

</nb-layout>