.header {
    background-color: #000335;
}
.loginBtn{
    background-color: #197BBC;
    border-radius: 20px;
    color: white;
    padding: 6px; 
    width: 300px;
}
.loginIdBtn {
    background-color: #000335;
    color: white;
    padding: 6px; 
    border-radius: 20px;
    width: 300px;
}
.rowClass{
    align-items: center;
    padding: 10px;
}